<div class="well well-sm" style="background-color:black">
  <h1 class="text-uppercase text-center" style="color:red;">WORDs OF DAY</h1>
</div>

<div class="jumbotron transparent-box">
  <div class="row-eq-height">
    <div class="col-md-4" style="background-color:#80d4ff;" id="set-opacity">
      <h3 class="text-capitalize text-left">  <%= @wod_array[0][0] %> <span class="text-primary small"><%= @wod_array[0][1] %></span></br></h3>
      <p class="small"> <%= @wod_array[0][2] %> </p>
      <p> <%= @wod_array[0][3] %> </p>
      <blockquote>
        <p><%= @wod_array[0][4] %></p>
        <footer><%= @wod_array[0][5] %></footer>
      </blockquote>
    </div>
    <div class="col-md-4" style="background-color:#b3e6ff;opacity:1.0;" id="set-opacity">
      <h3 class="text-capitalize text-left">  <%= @wod_array[1][0] %> <span class="text-primary small"><%= @wod_array[1][1] %></span></br></h3>
      <p class="small"> <%= @wod_array[1][2] %> </p>
      <p> <%= @wod_array[1][3] %> </p>
      <blockquote>
        <p><%= @wod_array[1][4] %></p>
        <footer><%= @wod_array[1][5] %></footer>
      </blockquote>
    </div>
    <div class="col-md-4" style="background-color:#80d4ff;opacity: 1.0;" id="set-opacity">
      <h3 class="text-capitalize text-left">  <%= @wod_array[2][0] %> <span class="text-primary small"><%= @wod_array[2][1] %></span></br></h3>
      <p class="small"> <%= @wod_array[2][2] %> </p>
      <p> <%= @wod_array[2][3] %> </p>
      <blockquote>
        <p><%= @wod_array[2][4] %></p>
        <footer><%= @wod_array[2][5] %></footer>
      </blockquote>
    </div>
  </div>
</div>

<div class="jumbotron transparent-box">
  <div class="row-eq-height">
    <div class="col-md-4" style="background-color:#80d4ff;opacity: 1.0;" id="set-opacity">
      <h3 class="text-capitalize text-left">  <%= @wod_array[3][0] %> <span class="text-primary small"><%= @wod_array[3][1] %></span></br></h3>
      <p class="small"> <%= @wod_array[3][2] %> </p>
      <p> <%= @wod_array[3][3] %> </p>
      <blockquote>
        <p><%= @wod_array[3][4] %></p>
        <footer><%= @wod_array[3][5] %></footer>
      </blockquote>
    </div>
    <div class="col-md-8" style="background-color:black;color:white">
      
      
        <p class="text-justify" style="margin-top:25%" ><%= @quote_of_day_arr[0][:quote] %></p>
        <p class="small">---<em><%= @quote_of_day_arr[0][:author] %></em></p>
        <p><i>for more quotes, go to <a href="theysaidso.com"><kbd>They Said So</kbd></a></a></i></p>
        
      
    </div>
  </div>
</div>
<div class="jumbotron transparent-box">
  <div class="row-eq-height" id="set-opacity">
    <div class="col-md-6" style="background-color:#80d4ff;opacity: 1.0;">
      <h3 class="text-capitalize text-left">  <%= @wod_array[4][0] %> <span class="text-primary small"><%= @wod_array[4][1] %></span></br></h3>
      <p class="small"> <%= @wod_array[4][2] %> </p>
      <p> <%= @wod_array[4][3] %> </p>
      <blockquote>
        <p><%= @wod_array[4][4] %></p>
        <footer><%= @wod_array[4][5] %></footer>
      </blockquote>
    </div>
    <div class="col-md-6" style="background-color:#b3e6ff;opacity: 1.0;" id="set-opacity">
      <h3 class="text-capitalize text-left">  <%= @wod_array[5][0] %> <span class="text-primary small"><%= @wod_array[5][1] %></span></br></h3>
      <p class="small"> <%= @wod_array[5][2] %> </p>
      <p> <%= @wod_array[5][3] %> </p>
      <blockquote>
        <p><%= @wod_array[5][4] %></p>
        <footer><%= @wod_array[5][5] %></footer>
      </blockquote>
    </div>
  </div>
</div>